.icons {
width: 18px;
height: 18px;
background-image: url(icons.png);
display: inline-block;
user-select: none;
cursor: pointer;
margin:0;
padding:0;
border:none;
outline:none;
}
.icons_download { background-position: 0px 0px; }
.icons_dashboard { background-position: -18px 0px; }
.icons_spaces { background-position: -36px 0px; }
.icons_turnOff { background-position: -54px 0px; }
.icons_moreBrightness { background-position: -72px 0px; }
.icons_lessBrightness { background-position: -90px 0px; }
.icons_widgets { background-position: -108px 0px; }
.icons_brightness { background-position: -126px 0px; }
.icons_forward { background-position: 0px -18px; }
.icons_rewind { background-position: -18px -18px; }
.icons_playPause { background-position: -36px -18px; }
.icons_volumeOff { background-position: -54px -18px; }
.icons_lowVolume { background-position: -72px -18px; }
.icons_highVolume { background-position: -90px -18px; }
.icons_application2 { background-position: -108px -18px; }
.icons_application4 { background-position: -126px -18px; }
.icons_paintbucket { background-position: 0px -36px; }
.icons_text { background-position: -18px -36px; }
.icons_colorMixer { background-position: -36px -36px; }
.icons_selection { background-position: -54px -36px; }
.icons_resize { background-position: -72px -36px; }
.icons_crop { background-position: -90px -36px; }
.icons_roundedSelection { background-position: -108px -36px; }
.icons_switchColors { background-position: -126px -36px; }
.icons_colors { background-position: 0px -54px; }
.icons_noColor { background-position: -18px -54px; }
.icons_wireFrame { background-position: -36px -54px; }
.icons_layout { background-position: -54px -54px; }
.icons_grid { background-position: -72px -54px; }
.icons_topbar { background-position: -90px -54px; }
.icons_expose { background-position: -108px -54px; }
.icons_newLayer { background-position: -126px -54px; }
.icons_lock { background-position: 0px -72px; }
.icons_unlock { background-position: -18px -72px; }
.icons_calendar { background-position: -36px -72px; }
.icons_todoList1 { background-position: -54px -72px; }
.icons_rulers { background-position: -72px -72px; }
.icons_writeDocument { background-position: -90px -72px; }
.icons_jog { background-position: -108px -72px; }
.icons_keyframes { background-position: -126px -72px; }
.icons_intersect { background-position: 0px -90px; }
.icons_split { background-position: -18px -90px; }
.icons_union { background-position: -36px -90px; }
.icons_intersect2 { background-position: -54px -90px; }
.icons_colorPicker { background-position: -72px -90px; }
.icons_colorPickerSelected { background-position: -90px -90px; }
.icons_reload { background-position: -108px -90px; }
.icons_vinyl { background-position: -126px -90px; }
.icons_acion { background-position: 0px -108px; }
.icons_flame { background-position: -18px -108px; }
.icons_earth { background-position: -36px -108px; }
.icons_oldCamera { background-position: -54px -108px; }
.icons_newCamera { background-position: -72px -108px; }
.icons_zoomInPlace { background-position: -90px -108px; }
.icons_zoomOutPlace { background-position: -108px -108px; }
.icons_refresh { background-position: -126px -108px; }
.icons_settings { background-position: 0px -126px; }
.icons_boldPlus { background-position: -18px -126px; }
.icons_ghost { background-position: -36px -126px; }
.icons_addScreen { background-position: -54px -126px; }
.icons_infoScreen { background-position: -72px -126px; }
.icons_info { background-position: -90px -126px; }
.icons_settings1 { background-position: -108px -126px; }
.icons_iceCream { background-position: -126px -126px; }
.icons_drop { background-position: 0px -144px; }
.icons_wall { background-position: -18px -144px; }
.icons_flag { background-position: -36px -144px; }
.icons_roller { background-position: -54px -144px; }
.icons_marker { background-position: -72px -144px; }
.icons_cutter { background-position: -90px -144px; }
.icons_heart { background-position: -108px -144px; }
.icons_gallery { background-position: -126px -144px; }
.icons_addPin { background-position: 0px -162px; }
.icons_star { background-position: -18px -162px; }
.icons_comment { background-position: -36px -162px; }
.icons_chat { background-position: -54px -162px; }
.icons_pin { background-position: -72px -162px; }
.icons_mail { background-position: -90px -162px; }
.icons_newDocument { background-position: -108px -162px; }
.icons_removePin { background-position: -126px -162px; }
.icons_NYFatcap { background-position: 0px -180px; }
.icons_tiles { background-position: -18px -180px; }
.icons_spraycanEmpty { background-position: -36px -180px; }
.icons_fullSparaycan { background-position: -54px -180px; }
.icons_spraycanHalfFull { background-position: -72px -180px; }
.icons_brush { background-position: -90px -180px; }
.icons_toiletPaper { background-position: -108px -180px; }
.icons_subway { background-position: -126px -180px; }
.icons_bomb { background-position: 0px -198px; }
.icons_slotenacesta { background-position: -18px -198px; }
.icons_upload { background-position: -36px -198px; }
.icons_santasReindeer { background-position: -54px -198px; }
.icons_pointer { background-position: -72px -198px; }
.icons_handy { background-position: -90px -198px; }
.icons_home { background-position: -108px -198px; }
.icons_capricorn1 { background-position: -126px -198px; }
.icons_paragraphJustify { background-position: 0px -216px; }
.icons_paragraphLeft { background-position: -18px -216px; }
.icons_paragraphRight { background-position: -36px -216px; }
.icons_christmassTree { background-position: -54px -216px; }
.icons_pcfan { background-position: -72px -216px; }
.icons_zip { background-position: -90px -216px; }
.icons_images { background-position: -108px -216px; }
.icons_path { background-position: -126px -216px; }
.icons_plus { background-position: 0px -234px; }
.icons_reply { background-position: -18px -234px; }
.icons_trash { background-position: -36px -234px; }
.icons_retweet { background-position: -54px -234px; }
.icons_unrated { background-position: -72px -234px; }
.icons_rated { background-position: -90px -234px; }
.icons_twitter { background-position: -108px -234px; }
.icons_pen { background-position: -126px -234px; }
.icons_user2 { background-position: 0px -252px; }
.icons_users { background-position: -18px -252px; }
.icons_userComments { background-position: -36px -252px; }
.icons_users2 { background-position: -54px -252px; }
.icons_usersComents { background-position: -72px -252px; }
.icons_watchUser { background-position: -90px -252px; }
.icons_thinkingUser { background-position: -108px -252px; }
.icons_updateSummary { background-position: -126px -252px; }
.icons_map { background-position: 0px -270px; }
.icons_list { background-position: -18px -270px; }
.icons_orderedList { background-position: -36px -270px; }
.icons_imageLike { background-position: -54px -270px; }
.icons_watch { background-position: -72px -270px; }
.icons_watchMap { background-position: -90px -270px; }
.icons_userComment { background-position: -108px -270px; }
.icons_todoList { background-position: -126px -270px; }
.icons_display { background-position: 0px -288px; }
.icons_user { background-position: -18px -288px; }
.icons_watchedUser { background-position: -36px -288px; }
.icons_addUser { background-position: -54px -288px; }
.icons_removeUser { background-position: -72px -288px; }
.icons_userInfo { background-position: -90px -288px; }
.icons_deleteUser { background-position: -108px -288px; }
.icons_watchedWall { background-position: -126px -288px; }
.icons_tags { background-position: 0px -306px; }
.icons_addFlag { background-position: -18px -306px; }
.icons_zoomOut { background-position: -36px -306px; }
.icons_zoomIn { background-position: -54px -306px; }
.icons_search { background-position: -72px -306px; }
.icons_watchHome { background-position: -90px -306px; }
.icons_taxi { background-position: -108px -306px; }
.icons_car { background-position: -126px -306px; }
.icons_iphoneVertical { background-position: 0px -324px; }
.icons_creditCard { background-position: -18px -324px; }
.icons_imac { background-position: -36px -324px; }
.icons_cart { background-position: -54px -324px; }
.icons_barcode { background-position: -72px -324px; }
.icons_toCart { background-position: -90px -324px; }
.icons_wallet { background-position: -108px -324px; }
.icons_iphoneHorizontal { background-position: -126px -324px; }
.icons_ok { background-position: 0px -342px; }
.icons_ng { background-position: -18px -342px; }
.icons_movieFrame { background-position: -36px -342px; }
.icons_summary { background-position: -54px -342px; }
.icons_coins { background-position: -72px -342px; }
.icons_tool { background-position: -90px -342px; }
.icons_soundWave { background-position: -108px -342px; }
.icons_oldPhone { background-position: -126px -342px; }
.icons_rightArrow { background-position: 0px -360px; }
.icons_leftArrow { background-position: -18px -360px; }
.icons_smallerPads { background-position: -36px -360px; }
.icons_note { background-position: -54px -360px; }
.icons_biggerPads { background-position: -72px -360px; }
.icons_headphones { background-position: -90px -360px; }
.icons_cd { background-position: -108px -360px; }
.icons_arrows { background-position: -126px -360px; }