* { box-sizing: border-box; }
table { border-collapse: collapse; }
/*diff_match_patch*/
ins { background: #696; color: #fff; text-decoration-line: none!important; border-radius:2px; padding:2px; }
del { background: #f66; color: #fff; text-decoration-line: none!important; border-radius:2px; padding:2px; }
.error .source{ background-color: #f00!important; color: #ff0!important; }
.error .target{ background-color: #00f!important; color: #ff0!important; }

.help:hover { text-shadow: 1px 1px 4px #050; }
.help { cursor: help; }
.doneAutoNumber { background: #ffeb3b; }
.doneSmart{ background:#f99; }
.doneAuto{ background:#c8ebff; }
.doneAutoSpace { background:#e6e6e6; box-shadow: inset -3px 0px #666!important; }
.done { box-shadow: inset -3px 0px #070!important; background: #c0ffc0; }
.fa {font-size: 12px;}

*::selection {background:#030;color:#fff;}
/*@media (max-width: 700px) {.buttonbox { display: none; } }
@media (max-width: 880px) {#toolright { display: none; } }
@media (max-width: 1100px) {#toolleft { display: none; } }*/
/*@media (max-width: 60em) {
	#works td,#tips td,#statusDict td { display: none; }
	#works td.no, #works td.source, #works td.target, #tips td.no, #tips td.source, #tips td.target, #statusDict td.no, #statusDict td.source, #statusDict td.target{ display:inherit; }
}*/

tbody {border: 1px solid #0007!important;}

#worksProgressUI {
	width: 200px;
}
#works .no, #works .textKey, #works .sourceComment, #works .targetComment, #works .season {
	max-width: 6em;
	min-width: 1em;
	overflow: hidden;
	white-space: nowrap;
	font-size: smaller;
	border: 1px solid #eee;
	box-sizing: border-box;
}
#dictArrayLengthUI {
	font-family:Arial;
	font-size:12pt;
	font-weight: bold;
	width:6em;
}
#googleResult, #naverResult, #daumResult {overflow:auto;white-space: pre-wrap;user-select:text;background-color:#825e9d;color:#fff;max-height:300px;}
#lastSelect th,#lastSelect td{height:2em;text-align:center;vertical-align:middle;}
#main tbody{overflow-y: auto; display: block; }
#main{ vertical-align:top; }
#rowCurrentUI,#rowTotalUI {color:blue; font-family:Verdana; font-weight:bold; }
#statusDict {height:183px; background-color: #eee;}
#statusDict td, #tips td { background:#eee;color:#333;}
#statusDict, #tips, #works {resize: vertical;}
#status{background:rgb(184,204,228);}
#tempResult {position:fixed;top:-200px;height:-200px;width:1px;height:1px;}
#page_counter{position:fixed;right:0;top:0;z-index:9;}
/*memoQ colors

tips  tm
statusDict  tb
*/
#tips td{
	background: #EBBEB466;
}
#tips .similar{
	color:#fff!important;
	background: #C85050!important;
}
#tips tr:nth-child(even) td{
	background: #FFF;
}
#statusDict td {
	background: #B4E1F0;
}
#statusDict .similar {
	color:#fff!important;
	background: #2D82B4!important;
}
#statusDict tr:nth-child(even) td {
	background: #FFF;
}
#title {font-size:2em;}
#toolleft div,#toolright div {display: block;border:2px solid #0007;background:#ccc;color:#000; border-radius:5px;padding:5px;margin:2px;max-width:20em;}
#toolleft,#toolright {vertical-align:top;}
#toolright button{width:100%;}
#works {background:#fff;}
#works {height:30em;min-height:2em;}
#works td.source:focus {border:2px solid #00f7;height:auto;}
* {font-family: Tahoma,"Microsoft Yahei","MS Ghotic","Malgun Ghotic"; font-weight: bold; word-wrap: break-word; word-break: break-all; font-size:12px;/*	background:rgb(39,40,34); color:rgb(248,248,242);*/ }
.buttonbox {max-width:24em;line-height:6px;}
.buttonbox input, .buttonbox button {
	background: #fff;
	margin: 0!important;
	padding: 0!important;
	width:100%;
	font-size: 12px;
	height: 20px;
	border: 1px solid #000!important;
	border-radius: 3px;
}
button span {
	position: relative;
	bottom: 5px;
}
button span.icons {
	bottom: 1px;
	left: -6px;
}

#works tbody::before {
	content: attr(dataname);
	background-color: #333;
	color: #ccc;
	padding: 0 2em;
	border-radius: 6px 6px 0 0;
	font-size: xx-small;
}

.clogs {max-width: 800px; overflow: hidden;}
#clogs {overflow: auto; height: 200px;}
.clog {font-size:12px; max-width:32em; background: rgba(255,255,255,.1); }
.clog td{ width:100%; border:1px solid #eef; background:#eee; color:#999; z-index:-9; }

/*memoQ current row color*/
.currentEditRow .no { background: #FA6419!important; }
.currentEditRow td{
	border-top: 2px solid #333!important;
	border-bottom: 2px solid #333!important;
}
.hide,.hide2,.hide3,.emptyRow {display:none;}
.match {white-space:pre-wrap;}
.qa{max-height:7em; overflow:hidden; background:#fcc; }
.utilsource, .utiltarget, .target, .source {
	width: 24em!important;
}

.no {
	/* transition: 0.5s; */
	box-sizing: border-box;
	border: none;
	width: 32px;
	margin: 0;
	padding: 0 4px;
	overflow: hidden;
	user-select:none;
	white-space:nowrap;
	word-wrap:break-word;
	word-break:break-all;
	text-align:center;
	color:#fff;
	background:#0007;}

.util input {max-width:4em; border:none; margin: 4px 0;}

.util {resize:none; background:#000;}
.util th {
	text-align:center;
	border:none;
	border-radius:4px;
}
.util.tb   th { background:#2D82B4;}
.util.work th { background:#333;}
#worksButtonbox {background: #333; }
#tipButtonbox {background: #C85050!important; }
.util.tm   th { background:#C85050;}

body {background-color: #fff;}
body,#box{margin:0;padding:0;}
#box{margin:0 auto;}
h3 {background:#0007;color:#fff;padding:6px;border-radius:3px;text-align:center;max-width:18em;}
.target,.source{ min-width:24em; white-space: pre-wrap; border:2px solid #0003; }
.target {
	-webkit-user-modify: read-write-plaintext-only;
	-moz-user-modify: read-write-plaintext-only;
}


#workPaste:focus {
	background:#333333;color:#ffffff;

}
#dictPaste:focus {
	background:#c85050;color:#ffffff;
}
#lsst,#ltst,#workPaste,#dictPaste {
	margin:1px 0; padding:0;
	border:none; outline:none; resize:none;
	box-shadow:1px 1px 1px #0007;
	overflow: hidden;
	width:100%; height:3em;
	display:block; background: #fff; color:#00c;
}
th,td{
	text-align:left;
	vertical-align:middle;
	background:#fff;
	word-wrap:break-word;
	word-break:break-all;}

label.button {
	min-width:3em; display:inline-block;
	border:1px solid #aaa; border-radius:5px;
	text-align:center; vertical-align:middle;
	padding:3px;margin:1px;
	color:#eee; background:#333;
	user-select:none;
}
label.button:active{
	opacity:.8;
}
label.button input[type=radio] {
	position:relative;left:0;top:0;
	margin:0; padding:0;
}
#mask table td {
	border:1px solid #ccc; background:#fff;
}
#mask table{
	background: #333;
}
#wp {
	border:2px solid #000e;
	/*position: fixed;*/
	/*bottom: 2px;*/
	/*right:2px;*/
	border-radius: 3px;
	background: #0007;
}

#projectName {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9;
	color: #fff;
	background: #00f;
	padding: 4px 8px;
	border-radius: 6px;
}

.splitTarget {
	-webkit-user-modify: read-only!important;
	-moz-user-modify: read-only!important;
	background: #999!important;
}
.wait {
	-webkit-user-modify: read-only!important;
	-webkit-user-select: none!important;
	background:#c85050!important;
}



/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* -webkit-transition: .4s; */
  /* transition: .4s; */
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  /* -webkit-transition: .4s;
  transition: .4s; */
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.slider.round {
  border-radius: 17px;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .pink.slider {
	background: #ffa8c6;
}



/* chanhee */
#toolleft div,#toolright div {
	border:2px solid #22af3877;
	background:#def3d3;
}